@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    transition: all .3s;
    outline: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: rgb(9, 9, 11);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    overflow-x: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bg-hero {
    background-image: url('/hero/hero-original.png');
    background-size: cover;
    background-position: center;
    animation: fadeIn 1s ease-in-out;

    @media only screen and (max-width: 37.5em) {
        background-image: url('/hero/hero-small-original.png');
        animation: fadeIn 1s ease-in-out;
    }
}

*::selection {
    background-color: #222;
    color: #fff;
}
